<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Review</title>
</head>
<body>
<div class="contact-w3ls" id="contact" th:fragment="footer">
    <div class="footer-w3lagile-inner">
        <div class="footer-grids w3-agileits">
            <div class="col-md-2 footer-grid">
                <h4>版本发布</h4>
                <ul>
                    <li><a href="#" title="Release 2016">2022</a></li>
                    <li><a href="#" title="Release 2015">2021</a></li>
                    <li><a href="#" title="Release 2014">2020</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>平台服务</h4>
                <ul>
                    <li><a href="comedy.html">电影推荐</a></li>
                    <li><a href="series.html">电影展示</a></li>
                    <li><a href="genre.html">电影评分</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>加入我们</h4>
                <ul>
                    <li><a href="#">最快速</a></li>
                    <li><a href="#">最准时</a></li>
                    <li><a href="#">最好</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>帮助中心</h4>
                <ul>
                    <li><a href="#">项目介绍</a></li>
                    <li><a href="#">项目技术</a></li>
                    <li><a href="#">项目流程</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-grid">
                <h4>联系我们</h4>
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Email Address">
                </form>
            </div>
            <div class="clearfix"> </div>
            <ul class="bottom-links-agile">
                <li><a href="icons.html" title="Font Icons">Icons</a></li>
                <li><a href="short-codes.html" title="Short Codes">Short Codes</a></li>
                <li><a href="contact.html" title="contact">Contact</a></li>
            </ul>
        </div>
    </div>

</div>
</body>

</html>