<!--快速通道-->
<div class="col-md-2 show-grid-right"  th:fragment="moviesGenres">
  <h3>快速通道</h3>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Action/Action}">动作片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Animation/Animation}">动画片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Adventure/Adventure}">冒险经历</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Comedy/Comedy}">喜剧片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Crime/Crime}">犯罪片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Fantasy/Fantasy}">奇幻</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Family/Family}">家庭片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Biography/Biography}">传记</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/History/History}">历史片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Music/Music}">音乐片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Horror/Horror}">恐怖片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/SingingAndDancing/SingingAndDancing}">歌舞</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Mystery/Mystery}">悬疑片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Romance/Romance}">爱情片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Costume/Costume}">古装</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/ScienceFiction/ScienceFiction}">科幻片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Sports/Sports}">运动</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Thriller/Thriller}">惊悚片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/War/War}">战争片</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Swordsmen/Swordsmen}">武侠</a></li>
    </ul>
  </div>
  <div class="show-right-grids">
    <ul>
      <li class="tv-img"><a href="#"><img th:src="@{../../images/mv.png}" alt="" /></a></li>
      <li><a th:href="@{/genres/Plot/Plot}">剧情</a></li>
    </ul>
  </div>
</div>