<div class="zidingyi3 block-stars" th:fragment="star_score">
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} lt '0.5'">
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="(${moviedata.getScore()} ge '0.5') and (${moviedata.getScore()} lt '1')">
    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="(${moviedata.getScore()} ge '1') and (${moviedata.getScore()} lt '1.5')">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="(${moviedata.getScore()} ge '1.5') and (${moviedata.getScore()} lt '2')">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '2' and ${moviedata.getScore()} lt '2.5'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '2.5' and ${moviedata.getScore()} lt '3'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '3' and ${moviedata.getScore()} lt '3.5'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '3.5' and ${moviedata.getScore()} lt '4'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '4' and ${moviedata.getScore()} lt '4.5'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '4.5' and ${moviedata.getScore()} lt '5'">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
  </ul>
  <ul class="w3l-ratings" th:if="${moviedata.getScore()} ge '5' ">
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
  </ul>
</div>