<!DOCTYPE HTML>
<!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- //custom-theme -->
    <link th:href="@{../css/error-style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- js -->
    <script th:src="@{../js/jquery.min.js}" ></script>
    <!-- font-awesome icons -->
    <link th:href="@{../css/error-font-awesome.css}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">
</head>
<body style="overflow-y: hidden">
<div class="main">
    <canvas id="myCanvas"></canvas>
    <div class="agileinfo_404_main">
        <h1>Effective Error Page</h1>
        <div class="w3_agile_main">
            <h2>Oooops.... Could not find it</h2>
            <p>呀！好像出了点问题，我们正在查看发生了什么.</p>
            <div class="agile_404 w3layouts">
                <div class="agile_404_pos">
                    <h3>5<span>0</span>0<img th:src="@{../images/1.png}" alt=" "/></h3>
                </div>
                <img th:src="@{../images/3.png}" alt=" " class="w3l"/>
            </div>
        </div>
    </div>
</div>
<script th:src="@{../js/particles.min.js}"></script>
<script>
    window.onload = function () {
        Particles.init({
            selector: '#myCanvas',
            color: '#6b6b6b',
            connectParticles: true,
            minDistance: 100
        });
    };
</script>
</body>
</html>